.headings {
  margin-top: 32px;
    font-size: 20px;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(22, 192, 204, 0.842);
    font-family: 'Lucida Sans', sans-serif;
    color: white;
}