.splash-div {
    height: 1000px;
    background: #8FB5B7; 
}

.jamma-the-lama-splash {
  /* height: 1000px;  */
  /* width: 1000px;  */
}

.logo-lama-splash {
  position: absolute;
  left: 200px; 
  top: 230px; 
  
}

.splash-header {
  font-size: 200px; 
  color: white; 
  font-family: Symbol;
  letter-spacing: 7px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.315);

}

.splash-header-pos {
  left: 500px;
  top: 180px;  
  position: absolute;
}

.fav-cities-splash {
  position: absolute;
  color: white; 
  left: 550px; 
  top: 380px; 
  font-size: 40px; 
  /* font-family: Symbol;  */
  line-height: 80px; 
  text-shadow: 1px 1px rgba(0, 0, 0, 0.315);
  letter-spacing: 3px;

}

.fav-cities-splash h3 {
  margin-left: 170px; 
}

.join-splash {
  position: absolute;
  top: 690px; 
  left: 550px; 
  color: white; 
  font-size: 30px; 
}

.join-splash a {
  text-decoration: none; 
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.315);
  letter-spacing: 3px;

}
