.splash-div {
    height: 1000px;
    background: #8FB5B7; 
}

.jamma-the-lama-splash {
  /* height: 1000px;  */
  /* width: 1000px;  */
}

.logo-lama-splash {
  position: absolute;
  left: 200px; 
  top: 230px; 
  
}

.join-splash-btn {
    transition: all .75s ease;
  height: 60px; 
  width: 360px; 
  background-color: #8FB5B7; 
  position: absolute;
  border: 1px solid white; 
  color: white; 
  padding: 10px; 
  left: 550px;
  top: 450px; 
  font-size: 20px; 
   border-radius: 3px; 
}

.join-splash-btn:hover {
  background: rgba(255, 255, 255, 0.849);
  color: #8FB5B7; 
  cursor: pointer;
 
}
.splash-header {
  font-size: 100px; 
  color: white; 
  font-family: Symbol;
  letter-spacing: 7px;
  text-shadow: 2px 2px rgba(122, 122, 122, 0.315);

}

.splash-header-pos {
  left: 500px;
  top: 180px;  
  position: absolute;
}

.fav-cities-splash {
  position: absolute;
  color: white; 
  min-width: 500px;
  left: 550px; 
  top: 300px; 
  font-size: 30px; 
  /* font-family: Symbol;  */
  line-height: 50px; 
  text-shadow: 2px 2px rgba(122, 122, 122, 0.315);
  letter-spacing: 3px;

}

.fav-cities-splash h3 {
  margin-left: 170px; 
}

