.splash-div {
    height: 1000px;
    background: #8FB5B7; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


.flex-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jamma-the-lama-splash {
  /* height: 1000px;  */
  /* width: 1000px;  */
}

.logo-lama-splash {
  left: 400px; 
  top: 250px; 
}

.splash-shift {
  margin-bottom: 0px; 
}

.join-splash-btn {
  transition: all .75s ease;
  height: 60px; 
  width: 450px; 
  background-color: #8FB5B7; 
  border: 1px solid white; 
  color: white; 
  left: 750px;
  top: 550px; 
  font-size: 20px; 
  border-radius: 3px; 
  font-family: Symbol;
  letter-spacing: 3px;
}

.join-splash-btn:hover {
  background: rgba(255, 255, 255, 0.849);
  color: #8FB5B7; 
  cursor: pointer;
  
}
.splash-header {
  font-size: 150px; 
  color: white; 
  font-family: Symbol;
  letter-spacing: 7px;
  text-shadow: 2px 2px rgba(122, 122, 122, 0.315);
  
}

.splash-header-pos {
  left: 700px;
  top: 280px;  
}

.fav-cities-splash {
  color: white; 
  min-width: 500px;
  left: 750px; 
  top: 420px; 
  font-size: 30px; 
  line-height: 50px; 
  text-shadow: 2px 2px rgba(122, 122, 122, 0.315);
  letter-spacing: 3px;
}

.fav-cities-splash h3 {
  margin-left: 170px; 
}

.lama-and-text {
  display: flex;
  margin-bottom: 250px;
}

.link-to-session-form {
  margin-top: 35px;
}
